@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap");
/*Variables*/
/*Generales*/
* {
  font-family: "Noto Serif", serif;
  margin: 0%;
  font-weight: 600;
}

body {
  background-color: #F4F8E6;
}

/*Header*/
/*Header*/
header .fondoindex {
  height: 800px;
  background-image: url(../img/2023-07-01.png);
  background-size: cover;
  grid-area: header;
  background-color: #F4F8E6;
}
@media (max-width: 600px) {
  header .fondoindex {
    background-color: #F4F8E6;
    background-image: none;
  }
}
header .navbar {
  padding: 0%;
}
header .container-fluid {
  text-align: center;
  display: flex;
  background-color: #F4F8E6;
  margin: 0%;
}
header .navbar-brand {
  display: flex;
  color: #3E6583;
  margin: 0%;
  font-size: 25px;
}
header .nav-link {
  border: none;
  font-size: 18px;
  margin-left: 10px;
  color: #323232;
}
header .nav-link:hover {
  transform: scale(1.07);
  cursor: pointer;
}
header .btn-outline-success {
  color: black;
  background-color: #D3DBD9;
  border: none;
}
header .btn-outline-success:hover {
  background-color: #3E6583;
}

/*Frame 2*/
main {
  grid-area: main;
  /* Guia de talles */
}
main .separadorframe2 {
  background-color: #CED0C8;
  border-bottom: 50px solid #CED0C8;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
main .novedades-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -60px;
}
main .novedades-div .novedades {
  /* background-color: #D3DBD9; */
  border-radius: 10px;
  margin-top: 70px;
  font-size: 40px;
  font-weight: 600;
  font-family: "Noto serif", serif;
}
main section {
  display: flex;
  grid-template-rows: repeat(4, 600px);
  grid-template-columns: repeat(4, 600px);
  column-gap: -100px;
  row-gap: 50px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
}
main section div {
  background-color: #D3DBD9;
  width: 400px;
  height: 400px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 5px solid #e3e4d5;
  margin: 75px;
}
main section div h5 {
  font-weight: 600;
}
main section .precios {
  display: flex;
  background-color: #D3DBD9;
  width: 200px;
  height: 100px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 5px solid #e3e4d5;
  margin-top: 35px;
  justify-content: center;
  margin-left: 100px;
  font-size: 20px;
  font-weight: 600;
  align-items: center;
}
main section .numero {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: 20px;
  margin-top: -50px;
}
main form {
  background-color: #D3DBD9;
  border-radius: 8px;
  border: 5px solid #e3e4d5;
}
main .inicioh4, main .guiadetalles {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  margin-top: 100px;
  font-weight: 600;
}
main .mb-3 {
  margin-top: 50px;
}
main .cajaforminicio {
  margin-top: 150px;
  width: 500px;
  height: 450px;
}
main .cajaform {
  margin-top: 150px;
  width: 500px;
  height: 750px;
}
main .mensaje {
  width: 467px;
  border-radius: 7px;
  border: none;
  margin-bottom: 30px;
}
main .cajaformcontacto {
  margin-top: 150px;
  width: 500px;
  height: 650px;
}
main .table {
  width: 1000px;
  height: 300px;
  margin-top: 150px;
}
main .hoodies {
  margin-top: -300px;
  font-size: 45px;
}
main .talles {
  background-color: #e4ded0;
}
main .btn-primary {
  background-image: linear-gradient(to right, #446e8f, #34546d, #2e4c63);
  border: none;
}

/*Footer*/
/* Pie de pagina */
footer {
  /* Links footer */
  /* Copyright */
  /* Redes sociales, metodos de pago/envio */
}
footer .separadorframe3 {
  background-color: #CED0C8;
  border-bottom: 50px solid #CED0C8;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-top: 200px;
}
footer h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
  font-weight: 900;
  font-size: 50px;
}
footer p {
  display: flex;
  text-align: center;
  font-size: 25px;
}
@media (max-width: 600px) {
  footer .footer {
    grid-template-columns: 1fr;
  }
  footer .section {
    margin-bottom: 20px;
  }
  footer .sobrenos {
    font-size: 35px;
  }
  footer .infosobrenos {
    font-size: 20px;
  }
  footer .section {
    font-size: 1px;
  }
}
footer .links-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 500px);
  gap: 75px;
  margin-top: 200px;
  margin-left: 75px;
}
footer .links-grid a {
  text-decoration: none;
  color: #000;
  font-size: 25px;
}
footer .links-grid a:hover {
  cursor: pointer;
  transform: scale(1.1);
}
footer .caja-redesycopy {
  max-width: 1200px;
  margin: 0 auto;
}
footer .caja-redesycopy .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
footer .caja-redesycopy .content .copy {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-top: 250px;
}
footer .caja-redesycopy .content .copy .copyright {
  font-weight: 600;
  margin-top: 15px;
}
footer .cajafooter {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 20px;
}
footer .cajafooter div {
  text-align: center;
}
footer .cajafooter div img {
  height: 100px;
}
footer .cajafooter .redes-sociales {
  margin-top: 250px;
  width: 500px;
}
footer .cajafooter .redes-sociales a {
  display: inline-block;
  margin-right: 10px;
}
footer .cajafooter .redes-sociales img {
  width: 30px;
  height: 30px;
}
footer .cajafooter .redes-sociales img:hover {
  opacity: 0.7;
  cursor: pointer;
  transform: scale(1.5);
}
footer .redes {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
footer .pago {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 190px;
}
@media (min-width: 600px) {
  footer .cajafooter {
    grid-template-columns: repeat(2, 1fr);
  }
  footer .envioimg {
    margin-top: 1000px;
  }
  footer .pago {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 600px) {
  footer .mediosdepago {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
  }
  footer .pago {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 200px;
  }
  footer .redes-sociales {
    display: none;
  }
  footer .envioimg {
    margin-left: 185px;
  }
  footer .links-grid {
    margin-left: -15px;
  }
}

/*# sourceMappingURL=styles.css.map */
