@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');

*{
    font-family: "Noto Serif", serif;
    margin: 0%;
    font-weight: 600;
}
body{
    background-color: #F4F8E6;
}
.fondoindex{
    height: 800px;
    background-image: url(../img/2023-07-01.png);
    background-size: cover;
    grid-area: header;
    background-color: #F4F8E6;
}
@media (max-width: 600px){
    .fondoindex{
        background-color: #F4F8E6;
        background-image: none;
    }
}


.container-fluid{
    text-align: center;
    display: flex;
    background-color: #F4F8E6;
    margin: 0%;
}

.navbar-brand{
    display: flex;
    color: #3E6583;
    margin: 0%;
    font-size: 25px;
}

.nav-link{
    border: none;
    font-size: 18px;
    margin-left: 10px;
    color: #323232;
}

.nav-link:hover{
    color: #D3DBD9;
}

.navbar{
    padding: 0%;
}

.btn-outline-success{
    color: black;
    background-color:#D3DBD9;
    border: none;
}

.btn-outline-success:hover{
    background-color: #3E6583;
}

.frame2{
    position: absolute;
    margin-top: 200px;
    top: 650px;
    left: 0px;
    height: 2800px;
    width: 100%;
    background-color: #F4F8E6; 
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

main{
    grid-area: main;
}

.separadorframe2{
    background-color: #CED0C8;
    border-bottom: 50px solid #CED0C8;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

main div h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.productos{
    display: flex;
    margin-top: 0px;
    width: 350px; 
    height: 390px;
    padding: 20px; 
    box-sizing: border-box; 
    border-radius: 8px;
}

.novedades-div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.novedades{
    /* background-color: #D3DBD9; */
    border-radius: 10px;
    margin-top: 70px;
    font-size: 40px;
}

main section{
    display: flex;
    grid-template-rows: repeat(4, 600px);
    grid-template-columns: repeat(4, 600px);
    column-gap: -100px;
    row-gap: 50px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

main section div{
    background-color: #D3DBD9;
    width: 400px; 
    height: 400px;
    box-sizing: border-box; 
    border-radius: 8px;
    border: 5px solid #e3e4d5;
    margin: 75px;
} 
main section div h5{
    font-weight: 600;
}

.precios{
    display: flex;
    background-color: #D3DBD9;
    width: 200px; 
    height: 100px;
    box-sizing: border-box; 
    border-radius: 8px;
    border: 5px solid #e3e4d5;
    margin-top: 35px;
    justify-content: center;
    margin-left: 100px;
    font-size: 20px;
    font-weight: 600;
    align-items: center;
}

.numero{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 20px;
    margin-top: -50px;
}

main form{
    background-color: #D3DBD9;
    border-radius: 8px;
    border: 5px solid #e3e4d5;
}

.cajaform{
    margin-top: 150px;
    width: 500px;
    height: 750px;
}

.cajaforminicio{
    margin-top: 150px;
    width: 500px;
    height: 450px;
}

.inicioh4{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    margin-top: 100px;
    font-weight: 600;
}

.mb-3{
    margin-top: 50px;
}

.dropdown-item{
    font-weight: 600;
    margin-top: 10px;
}


.separadorframe3{
    background-color: #CED0C8;
    border-bottom: 50px solid #CED0C8;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-top: 200px;
}

body footer h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    font-weight: 900;
    font-size: 50px;
}

body footer p{
    display: flex;
    text-align: center;
    font-size: 25px;
}

/* Guia de talles */
.guiadetalles{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    font-weight: 600;
    margin-top: 100px;
}

.table{
    width: 1000px;
    height: 300px;
    margin-top: 150px;
}
.hoodies{
    margin-top: -300px;
    font-size: 45px;
}

.talles{
    background-color: #e4ded0;
}

/* Contacto */
.mensaje{
    width: 467px;
    border-radius: 7px;
    border: none;
    margin-bottom: 30px;
}

.cajaformcontacto{
    margin-top: 150px;
    width: 500px;
    height: 650px;
}

/* Pie de pagina */

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    text-align: center;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




/* Links footer */
.links-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 500px);
    gap: 75px;
    margin-top: 200px;
    margin-left: 75px;
}

.links-grid a {
    text-decoration: none;
    color: #000;
    font-size: 25px;
}

@media (max-width: 600px) {
    .footer {
    grid-template-columns: 1fr;
    }
    
    .section {
    margin-bottom: 20px;
    
}
.sobrenos{
    font-size: 35px;
}
.infosobrenos{
    font-size: 20px;
    
}
.section{
    font-size: 1px;
}
}

/* Copyright */
.copy{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-top: 250px;
}

.copyright{
    font-weight: 600;
    margin-top: 15px;
}

.caja-redesycopy {
    max-width: 1200px;
    margin: 0 auto;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Redes sociales, metodos de pago/envio */
.cajafooter {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 20px;
}

.cajafooter > div {
    text-align: center;
}

.cajafooter div img{
    height: 100px;
}
container

.redes-sociales {
    margin-top: 250px;
    width: 500px;
}
.redes{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.redes-sociales a {
    display: inline-block;
    margin-right: 10px;
}

.redes-sociales img {
    width: 30px;
    height: 30px;
}

.redes-sociales img:hover {
    opacity: 0.7;
}
@media (min-width: 600px) {
    .cajafooter {
    grid-template-columns: repeat(2, 1fr);
    }
    .envioimg{
        margin-top: 1000px;
    }
}

@media (max-width: 600px){
    .mediosdepago{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 100px;
    }
    .pago{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 230px;
    }
    .redes-sociales{
        display: none;
    }
    .envioimg{
        margin-left: 185px
    }
    .links-grid{
        margin-left: -15px;
    }
}

